.found-you {
    font-size: 50px;
    text-align: center;
    font-family: Times;
    font-weight: bold;
    letter-spacing: -5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    /* 1. create a colorful gradient called background */
    background: linear-gradient(to right, 
    maroon, 
    orange, 
    yellow, 
    lightgreen, 
    lightblue, 
    fuchsia, 
    pink,
    teal);

     /* 2. attach the background to the text */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

     /* 3. make the background larger than the text */
     background-size: 400% auto;

      /* 4. animate the background "position" */
      animation: moveGradient 10s linear infinite;
    }

     /* 5. define the movements */
     @keyframes moveGradient {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
     }

    .search_bar {
        --padding: 14px;
        
        width: 900px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 28px;
        background-color: #f6f6f6;
        transition: box-shadow 0.40s;
        margin: 250px;

    }

    .search_bar:focus-within {
        background-color: #f1f1f1;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.40);
    }

    .search_input {
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
        width: 250%;

    }

    .search_bar img {
        width: 5%;
    }
    .glass_button, .microphone_button {
        background: transparent;
        border: 1px;

        width: 60px;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        cursor: pointer;
        overflow: hidden;
    }

    .glass_button img, .microphone_button img {
        width: 90%;
        height: 80%;
    }